<%
if(typeof page_params == 'undefined' || UtilityService.empty(page_params))
    page_params = {};

if(typeof current_page == 'undefined' || UtilityService.empty(current_page))
    current_page = 1;

page_params.thumbnails = {
    base: sails.config.autodealio.images.base_url
};

page_params.api = {
    base: sails.config.autodealio.api.base_url
};
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Auto Dealio</title>

        <!--STYLES-->
        <link rel="stylesheet" href="http://api.autodealio.com/styles/autodealio.css">
        <link rel="stylesheet" href="http://api.autodealio.com/styles/bootstrap.css">
        <link rel="stylesheet" href="http://api.autodealio.com/styles/importer.css">
        <link rel="stylesheet" href="/styles/responsive.css">
        <!--STYLES END-->
    </head>
    <body>
                <script type="text/javascript">
                    var current_page = false;
                    var page_params = {};
                </script>
            <%- partial ('../partials/header.ejs') %>
                <div id="main-application" data-ng-app="autodealioApp">
            <%- body %>
                </div>
            <%- partial ('../partials/footer.ejs') %>

                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
                <!--<script src="/js/dependencies/jquery.min.js"></script>-->
                <!--SCRIPTS-->
                <script src="/js/dependencies/jquery.min.js"></script>
                <script src="/js/external/jquery.validate.min.js"></script>
                <script src="/js/external/jquery.validate.z.additional-methods.js"></script>
                <script src="/js/external/isotope.pkgd.min.js"></script>
                <script src="/js/external/jquery.infinitescroll.min.js"></script>
                <script src="/js/bootstrap.js"></script>
                <script src="/js/bootstrap.min.js"></script>
                <script src="/js/jssor.js"></script>
                <script src="/js/jssor.slider.js"></script>
                <script src="/js/jquery.auto-complete.min.js"></script>
                <script src="/js/z1.autodealio.pages.js"></script>
                <script src="/js/z2.autodealio.scripts.js"></script>
                <!--SCRIPTS END-->

                <script src="/js/dependencies/autodealio.ng.app.js"></script>
                <script src="/js/autodealio.ng.pages.js"></script>

                <script type="text/javascript">

                    current_page = "<%= current_page %>";
                    page_params = <%- JSON.stringify(page_params) %>

                    jQuery( document ).ready(function() {
                        if(jQuery("#results-container").length > 0)
                        {
                            var sc = autodealio.ng.getControllerInstance($("#results-container"));
                        }
//                                Autodealio.router.initialize(current_page, page_params);
                    });
                </script>
    </body>
</html>