<%
if(typeof page_params == 'undefined' || UtilityService.empty(page_params))
    page_params = {};

if(typeof current_page == 'undefined' || UtilityService.empty(current_page))
    current_page = 1;

page_params.thumbnails = {
    base: sails.config.autodealio.images.base_url
};

page_params.api = {
    base: sails.config.autodealio.api.base_url
};

if(typeof meta_title == 'undefined' || UtilityService.empty(meta_title))
    meta_title = "Used Cars for Sale - Trucks, SUVs, Luxury, Sports Cars, Hybrid/Electric, and More.";

if(typeof meta_description == 'undefined' || UtilityService.empty(meta_description))
    meta_description = "Looking to Buy a Used Car? Search Thousands of Used Trucks, SUVs, Luxury Cars, Sports Cars, and more. We have a Network of Trusted Dealers from across the Country.";
%>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AutoDealio.com - <%=meta_title %></title>

        <meta name="description" content="<%=meta_description %>"/>

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/autodealio.css">
        <link rel="stylesheet" href="/styles/bootstrap.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/responsive.css">
        <!--STYLES END-->
    </head>
    <body data-ng-app="autodealioApp">
                <script type="text/javascript">
                    var current_page = false;
                    var page_params = {};
                </script>
            <%- partial ('../partials/header.ejs') %>
                <div id="main-application" >
            <%- body %>
                </div>
            <%- partial ('../partials/footer.ejs') %>

                <script type="text/javascript">
                    current_page = "<%= current_page %>";
                    page_params = <%- JSON.stringify(page_params) %>
                </script>


                <!--SCRIPTS-->
                <script src="/js/dependencies/angular.jquery.min.js"></script>
                <script src="/js/dependencies/angular.min.js"></script>
                <script src="/js/dependencies/angular.ng-infinite-scroll.js"></script>
                <script src="/js/dependencies/angular.ui-bootstrap-tpls-0.13.0.min.js"></script>
                <script src="/js/dependencies/autodealio.ng.app.js"></script>
                <script src="/js/dependencies/bootstrap.min.js"></script>
                <script src="/js/dependencies/sails.io.js"></script>
                <script src="/js/autodealio.ng.services.js"></script>
                <script src="/js/autodealio.ng.views.js"></script>
                <!--SCRIPTS END-->

                <script type="text/javascript">
                    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                    })(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

                    __gaTracker('create', 'UA-45841215-1', 'auto');
                    __gaTracker('set', 'forceSSL', true);
                    __gaTracker('require', 'displayfeatures');
                    __gaTracker('send','pageview');

                </script>
    </body>
</html>