<%
    var header = "Browse All " + page_params.make + " Cars in " + page_params.city.fromSlug() + ", " + page_params.state;
%>
<section class="cities">
    <div class="container">
        <h1>Used <%=page_params.make %> inventory near <%=page_params.city.fromSlug() %>, <%=UtilityService.abbr_state(page_params.state) %></h1>
        <%- partial ('../partials/search/landing', {}) %>
    </div>
</section>

<%- partial ('../partials/vehicle/grid', { header:header}) %>
